<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Countdown Timer</title>
  <meta name="author" content="Tom Tillistrand">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>

<body class="page">
  <div class="timer page__inner">
    <div class="timer__input-container">
      <button class="timer__button" data-time="15">15 minutes</button>
      <button class="timer__button" data-time="30">30 minutes</button>
      <form class="timer__custom-min-form custom-min-form">
        <input type="text" class="custom-min-form__input" placeholder="Enter Custom Min...">
      </form>
    </div>
    <div class="timer__display">
      <div class="timer__countdown">
        <span class="timer__minutes">5</span><span class="timer__colon">:</span><span class="timer__seconds">30</span>
      </div>
      <div class="timer__message">
        Be back at <span class="timer__end-time">3:08</span>
      </div>
    </div>
  </div>
  <script type="module" src="/js/main.js"></script>
</body>

</html>